.about {
  text-align: center;
  padding-top: 180px;
}

.about--title {
  color: #d8d8d8;
}

.about--head {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 50px;
  line-height: 55px;
}

.shade {
  color: #d8d8d8;
  font-size: 5rem;
  margin-top: 50px;
}

.about--underline {
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  width: 180px;
  height: 4px;
  border-radius: 400px;
  background-color: rgb(29, 73, 206);
  z-index: -1;
}

.underline-2 {
  width: 180px;
  margin-left: 10px;
  margin-top: 46px;
  rotate: -2.5deg;
  border-radius: 40px 2px;
}

.about--secure {
  color: #d8d8d8;
  width: 600px;
  margin: 30px auto;
  padding-top: 40px;
}

.about--contact-us {
  width: 150px;
  margin-top: 35px;
  height: 40px;
  background-color: rgb(29, 73, 206);
  border: none;
  color: white;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  font-family: Neue Machina, sans-serif;
  cursor: pointer;
}

.about--contact-us:hover {
  background-color: #d8d8d8;
  color: black;
  transform: scale(1.1);
}

.about--contact-us:hover::after {
  transform: rotate3d(1, 0, 0, 100deg);
  margin-top: -65px;
}

.about--contact-us::after,
.about--contact-us::before {
  background-image: url("https://ik.imagekit.io/radix/gettech/highlights/showcase-circle.svg");
  background-size: 100% 30%;
  background-repeat: no-repeat;
  position: absolute;
  width: 190px;
  height: 210px;
  margin-top: -20px;
  margin-left: -140px;
  filter: invert(1);
  content: "";
  transition: 0.6s;
  pointer-events: none;
}

.about--contact-us::before {
  margin-left: -45px;
}

.about--contact-us:hover::before {
  transform: rotate3d(1, 0, 0, 100deg);
  margin-top: -150px;
}

.white {
  color: #d8d8d8;
  display: inline-block;
  transform: skew(-15deg);
  position: relative;
  margin-left: 5px;
}

.white::before {
  content: "abilities";
  overflow: hidden;
  color: white;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -17px;
  height: 125%;
  padding-top: 18px;
  background-color: rgb(29, 73, 206);
  width: 100%;
  animation: changeColor 3s infinite;
}

@keyframes changeColor {
  0%,
  100% {
    width: 0;
  }

  50% {
    width: 350px;
  }
}

/* Package overview styling */

.packageoverview {
  width: 90%;
  margin: 140px auto;
  border: solid 2px #d8d8d8;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: 0.6s;
  padding-bottom: 50px;
}

.po--d-covered {
  color: rgb(29, 73, 206);
}

.packageoverview::before {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  content: "";
  z-index: 2;
  right: -2px;
  margin-top: -2px;
  background-image: linear-gradient(#343434, #353535, #363636);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.packageoverview::after {
  position: absolute;
  width: 202px;
  height: 202px;
  content: "";
  z-index: -1;
  margin-top: -1px;
  right: -2px;
  background-color: #d8d8d8;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.po--description {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 8%;
  margin-top: 60px;
  width: 50%;
  text-align: left;
  padding-bottom: 80px;
}

.po--d--details {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  color: #d8d8d8;
}

.blackbox {
  width: 40%;
  margin-top: 150px;
  scale: 1.2;
}

.blackbox--main {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.8;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.box--shadow {
  display: block;
  width: 150px;
  height: 20px;
  margin: 20px auto;
  background-color: white;
  filter: blur(2px);
  border-radius: 50%;
  opacity: 0.2;
  transform: rotate3d(1, 0, 0, 10deg);
  animation-name: shadowFloat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes shadowFloat {
  0% {
    transform: rotate3d(1, 0, 0, 60deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 10deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 60deg);
  }
}

/* Why InTSecurity Styling */

.about--why {
  width: 100%;
  background: #212121;
  margin: 160px 0px;
  padding: 60px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.font {
  font-family: "Times New Roman", Times, serif;
}

.why--content {
  text-align: right;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  color: #d8d8d8;
  padding-right: 150px;
}
.why--main {
  margin-top: 40px;
}

.why--content--head {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  text-align: right;
}

.why--img {
  width: 40%;
}

.question--img {
  scale: 0.8;
  margin-top: 15px;
}

.question--shadow {
  margin-top: 0px;
}

/* Our hacker style */

.ourhackers {
  text-align: center;
  height: 400px;
}

.oh--title {
  width: 30%;
  text-align: center;
  margin: 20px auto;
}

.companyDiv {
  margin-top: 60px;
}

.companyImg {
  height: 60px;
}

.oh--companies {
  display: flex;
  justify-content: space-evenly;
}
