.footer {
  text-align: center;
  background-color: rgb(33, 33, 33);
  padding: 20px 10px;
}

.footer--logo--main {
  height: 60px;
}

.footer--contents {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 40px auto;
}

.footer--hr {
  margin-top: 20px;
  color: #6a6a6a;
  width: 40%;
}

.footer--socials {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  margin: 25px auto;
}

.github {
  margin-top: 8px;
  padding: 0px 10px;
}
.instagram {
  margin-left: -5px;
}

.footer--copyright {
  padding: 20px;
  color: #a5a5a5;
}

.website--version {
  position: absolute;
  right: 20px;
  margin-bottom: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.socials {
  cursor: pointer;
  transition: 1s;
}

.socials:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  rotate: 360deg;
  border-radius: 10px;
}
